<button type = "submit" class = "rbtn"><a href= "/">Home</a></button>
<button type = "submit" class = "rbtn"><a href= "/api/book/detail">Load Data From JSON File</a></button>
<button type = "submit" class = "rbtn"><a href= "/api/bookset">Get Book Data</a></button>
<button type = "submit" class = "rbtn"><a href= "/api/booksetisbn">Get Book By ISBN</a></button>
<button type = "submit" class = "rbtn"><a href= "/api/booksetadd">Add a BookSet</a></button>
<button type = "submit" class = "rbtn"><a href= "/api/updatebooksetisbn">Update By ISBN ID</a></button>
<button type = "submit" class = "rbtn"><a href= "/api/booksetdeleteisbn">Delete By ISBN</a></button>
<button type = "submit" class = "rbtn"><a href= "/api/booksetsort">BookSet Sort</a></button>
<button type = "submit" class = "rbtn"><a href= "/api/categories">BookSet Categories</a></button>